{% extends "base.html" %}

{% block content %}
<h2 align="center" >{{ name }}</h2>
<table class="table-hover" border="" align="center">
    <thead>
        <th scope="col">  #  </th>
        <th scope="col">  Оценка  </th>
        <th scope="col">  Максимальный балл  </th>
    </thead>
    <tbody>
    {% for i in data %}
        {% if i[1] == i[2] %}
        <tr class="table-success">
            <td><a href=https://conduit-for-us.herokuapp.com/task/{{ i[0] }}> {{ i[0] }} </a></td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
        {% elif i[1] != 0 %}
        <tr class="table-info">
            <td><a href=https://conduit-for-us.herokuapp.com/task/{{ i[0] }}> {{ i[0] }} </a></td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
        {% else %}
        <tr class="table-danger">
            <td><a href=https://conduit-for-us.herokuapp.com/task/{{ i[0] }}> {{ i[0] }} </a></td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}